.sass-cache
public
venv
log
*.Trash-*
tags
*.iml
*.swo
*.swp
*.ipr
*.iws
*.pyc
*~
._*
logs/*
._*
._.DS_Store
.DS_Store
.cap_tasks
.directory
.generators
.rakeTasks
.rake_tasks
.rvmrc
TAGS
config/database.*.yml
config/database.yml
config/environments/local_conf.rb
config/keys/production_rsa_key
config/keys/production_paypal_cert.txt
config/juggernaut.yml
config/juggernaut_config.yml
config/juggernaut_hosts.yml
config/polling_config.yml
config/tools.yml
db/development_structure.sql
config/initializers/inflections.rb
doc/app
coverage/*
nbproject
public/images/simple_captcha
public/javascripts/translations.js
tmp/*
vendor/control/control.yml
vendor/control/log
vendor/control/tmp
vendor/trac/plugin/AssemblaBreakoutTrac.egg-info
spec/test
*_packaged.js
*_packaged.css
.settings/*
.project
.bundle
.gaedata/
.idea/*
.idea/
*.esproj/
media/*
media/*.png
media/*.jpg
media/*.jpeg
media/*.gif
db.sqlite3
